
<h1>******** Now your results ********</h1>
<h2>Tour word: <%=@word%></h2>
<h2>Time Taken to answer: </h2>
<h2>Your score: <%=@score%></h2>
<h2>Message: Well Done!</h2>

<%# ******** Now your results ********
Your word: lift
Time Taken to answer: 12.07916
Your score: 3.194722666666667
Message: Well Done! %>